@typeparam T

@if (PgObj != null)
{
    <div class="d-flex justify-content-between">
        <div class="p-xl-2">
            <ul class="pagination">
                @foreach (var pageItem in pageItems)
                {
                    <li @onclick="@(()=> SelectCurrentPage(pageItem))" style="cursor:pointer"
                class="page-item @(pageItem.Active ? "active" : null)
                                 @(pageItem.Enabled ? null : "disabled")">

                        <span class="page-link">@pageItem.Text</span>
                    </li>
                }
            </ul>
        </div>

        <div>
            <select class="form-control" @onchange="SelectPageSize">
                @foreach (var pagesize in pageSizeOptions)
                {
                    <option value=@pagesize>@pagesize</option>
                }
            </select>
        </div>
    </div>
}

@code {
    private int radius = 3;
    private int[] pageSizeOptions = new int[] { 10, 15, 20, 50 };
    private List<PageItem> pageItems;

    [Parameter]
    public Pagination<T>? PgObj { get; set; }

    [Parameter]
    public EventCallback<int> OnSelectedPage { get; set; }

    [Parameter]
    public EventCallback<int> OnChangePageSize { get; set; }

    protected override void OnParametersSet()
    {
        CreatePages();
    }

    private void CreatePages()
    {
        pageItems = new();

        //1.Create the back to start page
        pageItems.Add(new PageItem(1, true, "Home"));

        //2. Create the previous page.
        pageItems.Add(new PageItem(PgObj.CurrentPageNumber - 1, PgObj.HasPreviousPage, "Prev"));

        //3. Create pages and add them to the pageItems list.
        if (radius > PgObj.TotalPages)
            radius = PgObj.TotalPages - 1;

        for (var i = PgObj.CurrentPageNumber - radius; i < PgObj.CurrentPageNumber + radius; i++)
        {
            if (i > 0 && i <= PgObj.TotalPages)
                pageItems.Add(new PageItem(i, true, i.ToString())
                    {
                        Active = PgObj.CurrentPageNumber == i
                    });
        }

        //4. Create the next page.
        pageItems.Add(new PageItem(PgObj.CurrentPageNumber + 1, PgObj.HasNextPage, "Next"));

        //5. Create the end page
        pageItems.Add(new PageItem(PgObj.TotalPages, true, "End"));
    }

    private async Task SelectCurrentPage(PageItem pageItem)
    {
        if (PgObj.CurrentPageNumber == pageItem.PageIndex)
            return;

        if (!pageItem.Enabled)
            return;

        await OnSelectedPage.InvokeAsync(pageItem.PageIndex);
    }

    private async Task SelectPageSize(ChangeEventArgs e)
    {
        await OnChangePageSize.InvokeAsync(Convert.ToInt32(e.Value));
    }
}



